.cache/
.config/
.history/
.mypy_cache/
.venv/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/*.txt
bin/
data/
models/
songs/
dist/
out/
output/
build/
__pycache__/
*.pyc
uv.lock
batch.txt
collection.txt
playlist.txt
songs.txt
config.json
